header {
     .logo {
      padding-left: 30px;
 
     }

       img {
        width: 100px;
 
      }
    
  
    .search {
       padding-left: 400px;
       padding-top: 0px;  
         
     }
  
    .navigation {
      padding-top: 0px;
 
    }
  
    .tools {
      padding-top: 0px;
      padding-left: 1100px;
    font-size: 3em ;
 

  
      .pi {
        margin-right: 15px;
       }
    }
  }
