.nav {
  li {
     display: inline-block;
    margin-right: 15px;
    padding-left: 50;

    a {
      color: var(--surface-500);
 
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
